language: node_js
sudo: false
dist: trusty
addons:
  apt:
    packages:
      - google-chrome-stable
before_script:
  # setup the display
  - export DISPLAY=:99.0
  - sh -e /etc/init.d/xvfb start
  - sleep 3

  # start a fresh new Chrome instance
  - google-chrome
        --user-data-dir=$(mktemp -d)
        --no-sandbox --no-first-run --disable-extensions --remote-debugging-port=9222
        about:blank &

  # wait for Chrome to start up
  - while ! curl http://localhost:9222 >/dev/null; do sleep 1; done

install:
  - npm install --production
script:
  - npm run $RESPONSE_TYPE
env:
  # - RESPONSE_TYPE=code
  - RESPONSE_TYPE=id_token
  # - RESPONSE_TYPE=id_token+token
  # - RESPONSE_TYPE=code+id_token
  # - RESPONSE_TYPE=code+id_token+token
  # - RESPONSE_TYPE=code+token
